.sent-message-content {
  max-width: 80%;
  word-wrap: break-word;
  margin-right: 3;
  text-align: left;

  background: rgba(55, 86, 241, 0.66);
  border-radius: 7px;
  padding: 7px 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  /* border: 1px solid rgba(0, 0, 0, 0.3); */
  color: white;
  user-select: none;
}

.delete-message-btn {
  display: none;
  opacity: 0.4;
  filter: grayscale(1);
  cursor: pointer;
}

.delete-message-btn:hover {
  opacity: 1;
  filter: grayscale(0);
}

.sent-message:hover .delete-message-btn {
  display: block;
}
